<div class="content-wrapper">
  <div class="card employee-list-card">
    <h2>DEPARTMENTS</h2>

    <div class="header-row">
        <button class="btn btn-add-employee" (click)="addDepartment()">Add Department</button>
    </div>

    <div *ngIf="loading" class="text-center p-5">
      Loading department data...
    </div>

    <div *ngIf="!loading">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Employee Count</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dept of departments">
            <td>{{ dept.departmentName }}</td>
            <td>{{ dept.description }}</td>
            <td>{{ dept.employeeCounts }}</td>
            <td class="action-buttons-cell">
              <button class="btn btn-edit" (click)="editDepartment(dept)">Edit</button>
              <button class="btn btn-delete" (click)="deleteDepartment(dept)">Delete</button>
            </td>
          </tr>
          <tr *ngIf="departments.length === 0">
            <td colspan="4" class="text-center">No departments found</td>
          </tr>
        </tbody>
      </table>

      
    </div>
  </div>
</div>
